1_fastqc_qualitycheck/slurm-*.out
1_fastqc_qualitycheck/fastqc_slurms_old/slurm-*.out

2_trimgalore/slurm-*.out
2_trimgalore/trimgalore_slurms_old/slurm-*.out

3_map_genome_star/ccar_star_index149.log
3_map_genome_star/Log.out
3_map_genome_star/slurm-*.out
3_map_genome_star/ccar_149bp_gtf_index/chrLength.txt
3_map_genome_star/ccar_149bp_gtf_index/chrName.txt
3_map_genome_star/ccar_149bp_gtf_index/chrNameLength.txt
3_map_genome_star/ccar_149bp_gtf_index/chrStart.txt
3_map_genome_star/ccar_149bp_gtf_index/exonGeTrInfo.tab
3_map_genome_star/ccar_149bp_gtf_index/exonInfo.tab
3_map_genome_star/ccar_149bp_gtf_index/geneInfo.tab
3_map_genome_star/ccar_149bp_gtf_index/Genome
3_map_genome_star/ccar_149bp_gtf_index/genomeParameters.txt
3_map_genome_star/ccar_149bp_gtf_index/SA
3_map_genome_star/ccar_149bp_gtf_index/SAindex
3_map_genome_star/ccar_149bp_gtf_index/sjdbInfo.txt
3_map_genome_star/ccar_149bp_gtf_index/sjdbList.fromGTF.out.tab
3_map_genome_star/ccar_149bp_gtf_index/sjdbList.out.tab
3_map_genome_star/ccar_149bp_gtf_index/transcriptInfo.tab
3_map_genome_star/ccar_149bp_gtf_index_gene/chrLength.txt
3_map_genome_star/ccar_149bp_gtf_index_gene/chrName.txt
3_map_genome_star/ccar_149bp_gtf_index_gene/chrNameLength.txt
3_map_genome_star/ccar_149bp_gtf_index_gene/chrStart.txt
3_map_genome_star/ccar_149bp_gtf_index_gene/exonGeTrInfo.tab
3_map_genome_star/ccar_149bp_gtf_index_gene/exonInfo.tab
3_map_genome_star/ccar_149bp_gtf_index_gene/geneInfo.tab
3_map_genome_star/ccar_149bp_gtf_index_gene/Genome
3_map_genome_star/ccar_149bp_gtf_index_gene/genomeParameters.txt
3_map_genome_star/ccar_149bp_gtf_index_gene/SA
3_map_genome_star/ccar_149bp_gtf_index_gene/SAindex
3_map_genome_star/ccar_149bp_gtf_index_gene/sjdbInfo.txt
3_map_genome_star/ccar_149bp_gtf_index_gene/sjdbList.fromGTF.out.tab
3_map_genome_star/ccar_149bp_gtf_index_gene/sjdbList.out.tab
3_map_genome_star/ccar_149bp_gtf_index_gene/transcriptInfo.tab
3_map_genome_star/index_files/ccar_star_index149.log
3_map_genome_star/index_files/Log.out
3_map_genome_star/index_files/slurm-12492169.out
1_fastqc_qualitycheck/.gitignore 28/8
